.home {
  background: #F5F5F5;
}

.home h1 {
  font-family: 'Lobster', cursive;
  font-size: 85px;
}

.cardContainer {
  columns:  3;
  column-gap: 20px;
  margin: 0 auto;
  width: 80%;
}

@media screen and (max-width: 1150px) {
  .cardContainer {
    columns:  2;
  }
}

@media screen and (max-width: 750px) {
  .home h1 {
    font-size: 13.5vw;
  }

  .cardContainer {
    columns:  1;
  }
}